<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <!-- customer form group -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row">
                        <div class="col-md-2"><label for="firstName">First Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text" id="firstName">

                                <div *ngIf="firstName!.invalid && (firstName!.dirty || firstName!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="firstName!.errors?.required || firstName!.errors?.notOnlyWhitespace">
                                        First Name is required
                                    </div>

                                    <div *ngIf="firstName!.errors?.minlength">
                                        First Name must be at least 2 characters long
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="lastName">Last Name</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text" id="lastName">

                                <div *ngIf="lastName!.invalid && (lastName!.dirty || lastName!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="lastName!.errors?.required || lastName!.errors?.notOnlyWhitespace">
                                        Last Name is required
                                    </div>

                                    <div *ngIf="lastName!.errors?.minlength">
                                        Last Name must be at least 2 characters long
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="email">Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text" id="email">

                                <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="email!.errors?.required">
                                        Email is required
                                    </div>

                                    <div *ngIf="email!.errors?.pattern">
                                        Invalid format
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Shipping Address -->

                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row">
                        <div class="col-md-2"><label for="country">Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" id="country" (change)="getStates('shippingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{country.name}}
                                    </option>
                                </select>

                                <div *ngIf="ShippingAddressCountry!.invalid && (ShippingAddressCountry!.dirty || ShippingAddressCountry!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="ShippingAddressCountry!.errors?.required">
                                        Country is required
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="street">Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text" id="street">

                                <div *ngIf="ShippingAddressStreet!.invalid && (ShippingAddressStreet!.dirty || ShippingAddressStreet!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="ShippingAddressStreet!.errors?.required || ShippingAddressStreet!.errors?.notOnlyWhitespace ">
                                        Street is required
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="city">City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text" id="city">

                                <div *ngIf="ShippingAddressCity!.invalid && (ShippingAddressCity!.dirty || ShippingAddressCity!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="ShippingAddressCity!.errors?.required || ShippingAddressCity!.errors?.notOnlyWhitespace ">
                                        City is required
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="state">State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state" id="state">
                                    <option *ngFor="let state of shippingAddressStates" [ngValue]="state">
                                        {{state.name}}
                                    </option>
                                </select>

                                <div *ngIf="ShippingAddressState!.invalid && (ShippingAddressState!.dirty || ShippingAddressState!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="ShippingAddressState!.errors?.required ">
                                        State is required
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="zipCode">Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text" id="zipCode">

                                <div *ngIf="ShippingAddressZipCode!.invalid && (ShippingAddressZipCode!.dirty || ShippingAddressZipCode!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="ShippingAddressZipCode!.errors?.required || ShippingAddressZipCode!.errors?.notOnlyWhitespace ">
                                        Zip Code is required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add check box to copy shipping to billing -->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Billing Address same as Shipping Address
                    </label>
                </div>

                <!-- Billing Address -->

                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <div class="row">
                        <div class="col-md-2"><label for="country">Country</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country" id="country" (change)="getStates('billingAddress')">
                                    <option *ngFor="let country of countries" [ngValue]="country">
                                        {{country.name}}
                                    </option>
                                </select>

                                <div *ngIf="BillingAddressCountry!.invalid && (BillingAddressCountry!.dirty || BillingAddressCountry!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="BillingAddressCountry!.errors?.required">
                                        Country is required
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="street">Street</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text" id="street">

                                <div *ngIf="BillingAddressStreet!.invalid && (BillingAddressStreet!.dirty || BillingAddressStreet!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="BillingAddressStreet!.errors?.required || BillingAddressStreet!.errors?.notOnlyWhitespace ">
                                        Street is required
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="city">City</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text" id="city">

                                <div *ngIf="BillingAddressCity!.invalid && (BillingAddressCity!.dirty || BillingAddressCity!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="BillingAddressCity!.errors?.required || BillingAddressCity!.errors?.notOnlyWhitespace ">
                                        City is required
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="state">State</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state" id="state">
                                    <option *ngFor="let state of billingAddressStates" [ngValue]="state">
                                        {{state.name}}
                                    </option>
                                </select>

                                <div *ngIf="BillingAddressState!.invalid && (BillingAddressState!.dirty || BillingAddressState!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="BillingAddressState!.errors?.required ">
                                        State is required
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="zipCode">Zip Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text" id="zipCode">

                                <div *ngIf="BillingAddressZipCode!.invalid && (BillingAddressZipCode!.dirty || BillingAddressZipCode!.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="BillingAddressZipCode!.errors?.required || BillingAddressZipCode!.errors?.notOnlyWhitespace ">
                                        Zip Code is required
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Credit Card -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>

                    <div class="row">
                        <div class="col-md-2"><label for="cardType">Card Type</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType" id="cardType">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="nameOnCard">Name on Card</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text" id="nameOnCard">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="cardNumber">Card Number</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text" id="cardNumber">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="securityCode">Security Code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text" id="securityCode">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="expirationMonth">Expiration Month</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth" id="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">
                                        {{month}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"><label for="expirationYear">Expiration Year</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creditCardYears">
                                        {{year}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Order Details -->
                <div class="fomr-area">
                    <h3>Review Your Order</h3>

                    <p>Total Quantity: {{totalQuantity}}</p>
                    <p>Shipping: FREE</p>
                    <p>Total Price: {{totalPrice | currency: "USD"}}</p>
                </div>
                <!-- submit button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Purchase</button>
                </div>
            </form>
        </div>
    </div>

</div>